
.emptyMessage {
    font-weight: bold;
    color: red;
    font-size: 1.2em;
}
li {
    margin-bottom: 7px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
}
  
span.buytext {
    flex:1;
}
li > button {
    margin-left: 6px;
}
input.quantity {
    width: 150px;
}

button > span {
    color: green;
}